body {
  background-image: url("files/svg/waveWhite.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

body.black-background {
  background-image: url("files/svg/waveBlack.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  color: black;
}

.centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.theme img.white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(41deg) brightness(106%)
    contrast(106%);
}

.theme.white {
  color: white;
  border-color: #18191a;
}

.avatar {
  position: relative;
  z-index: 1;
  margin-right: 20px;
  border: 0px solid #e3e5e8;
  border-radius: 50%;
  opacity: 1;
}

.status {
  position: absolute;
  z-index: 2;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border: 0px solid #e3e5e8;
  border-radius: 50%;
  opacity: 1;
}

.nickname {
  font-size: calc(16px + 1vw);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 5px;
  opacity: 1;
}

.comment {
  font-size: calc(10px + 1vw);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -15px;
  opacity: 0.7;
}

.activity {
  font-size: calc(10px + 1vw);
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  margin-top: -15px;
  opacity: 0.7;
}

.buttons-container {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

.png-button {
  display: block;
  margin-right: 10px;
  border: none;
  background-color: transparent;
}

.png-button:focus {
  outline: none;
}

.png-button img {
  display: block;
  width: 50px;
  height: 50px;
}

#music-button img.active {
  content: url("files/svg/musicOn.svg");
}

* {
  transition: all 0.25s ease-out;
}
